* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.list{
    display: flex;
    padding: 0 36px;
    gap: 18px;
    overflow-x: auto;
    
}

.list::-webkit-scrollbar{
    width: 0;
}